[submodule "samples/Rapanui"]
	path = samples/Rapanui
	url = git@github.com:sixman9/rapanui.git
[submodule "contrib/vcproj2cmake"]
	path = contrib/vcproj2cmake
	url = git://vcproj2cmake.git.sourceforge.net/gitroot/vcproj2cmake/vcproj2cmake
